@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  color: #e4e4e7;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

::selection {
  background: rgba(16, 185, 129, 0.2);
  color: #34d399;
}